<div class="row offset-md-2 mt-4">
	<div class="col-12 col-md-10">
		<div id="tarea-modal" tabindex="-1" role="dialog" class="modal fade">
			<div class="modal-dialog" role="document">
				<div class="modal-content">	
					<div class="modal-header">
						<h4 class="modal-title"> <%= accion %> </h4>
						<button type="button" class="close" data-dismiss="modal" arial-label="Cerrar">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<%= form_for @task, remote: true do |f| %>
						<div class="modal-body">
							<%= render "tasks/msjs_de_error", task: @task %>
							<div class="form-group">
								<%= f.label :name %>
								<%= f.text_field :name, class: 'form-control' %>
							</div>
						</div>
						<div class="modal-footer">
							<%= f.submit t('.save'), class: 'btn btn-outline-success', id: 'btn-guardar' %>
							<%= link_to t('.cancel'), tasks_path, class: 'btn btn-secondary', id: 'btn-cancelar' %>
						</div>
					<% end %>
				</div>
			</div>
	  </div>
	</div>
</div>