<div class="row">
	<div class="col">
		<% if task.errors.any? %>
			<ul class="list-group list-unstyled mt-2">
			<% task.errors.full_messages.each do |msj| %>
				<li class="badge badge-pill badge-danger"> <%= msj %> </li>
			<% end %>
			</ul>
		<% end %>
	</div>	
</div>
