<% if tasks.any? %>
		<%= render tasks %>
<% else %>
	<div class="row">
		<div class="col-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2 mt-4">
			<div class="alert alert-primary">
				<h2> <%= msj %></h2>
			</div>
		</div>
	</div>
<% end %>	