<div class="row offset-md-2">
	<div class="col-12 col-md-10 mt-4">
		<article class="card">
			<div class="row mt-4">
				<div class="col-12">
					<h3 class="card-title ml-3"> <%= task.name %> </h3>
					<div class="row ml-2">
						<div class="col">
							<p> <span class="badge badge-pill <%= show_status(task)[:clase] %>"> <%= show_status(task)[:text] %> <i class="fa fa-tag"></i> </span></p>
						</div>
					</div>
				</div>
			</div>
			<div class="card-body">
				<%= link_to t('.done'), task_done_path(task), method: :put, id:"task_#{task.id}", class: "btn btn-outline-success" %>
				
				<%= link_to 'Eliminar', task, remote: true, method: :delete, class: 'btn btn-danger' %>
			</div>
			<div class="card-footer">
				<p> <i class="fa fa-calendar"></i> Creada <%= show_date(task) %> </p>
			</div>
		</article>
	</div>
</div>