<div class="row">
	<div class="col-10">
		<h2 class="display-4 mt-4"> <%= t('.title') %> </h2>
		<p><%= notice %> <%= alert %> </p>
		<hr>
	</div>	
	<div class="col-2 mt-2 mt-sm-4">
	<% if signed_in? %>
		<%= link_to "Salir", destroy_user_session_path, method: :delete, class: "btn btn-outline-info" %>
	<% end %>	
	</div>
</div>

<div class="tareas">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
		  <div class="row offset-md-2 mr-2">
				<div class="col-12">
						<%= link_to '', new_task_path, class: 'btn btn-primary fa fa-plus', id: 'link-new', remote: true %>
				</div>
			</div>

		  <li class="nav-item">
		    <a class="nav-link" id="todas-tab" data-toggle="tab" href="#todas" role="tab" aria-controls="todas" aria-selected="true">Todas <strong> (<%= @tasks.count %>)</strong></a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="pendientes-tab" data-toggle="tab" href="#pendientes" role="tab" aria-controls="pendientes" aria-selected="false">Pendientes <strong> (<%= @tasks.undones_of(current_user).count %>)</strong></a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="terminadas-tab" data-toggle="tab" href="#terminadas" role="tab" aria-controls="terminadas" aria-selected="false">Terminadas <strong> (<%= @tasks.dones_of(current_user).count %>)</strong></a>
		  </li>
		</ul>
		<div class="tab-content" id="myTabContent">
		  <div class="tab-pane fade show active" id="todas" role="tabpanel" aria-labelledby="todas-tab">
		  	<%= render 'tasks', tasks: @tasks, msj: 'No tienes tareas creadas!'  %>	
		  </div>
		  <div class="tab-pane fade" id="pendientes" role="tabpanel" aria-labelledby="pendientes-tab">
		  	<%= render 'tasks', tasks: @tasks.undones_of(current_user), msj: 'No tienes tareas pendientes!'  %>
		  </div>
		  <div class="tab-pane fade" id="terminadas" role="tabpanel" aria-labelledby="terminadas-tab">
		  	<%= render 'tasks', tasks: @tasks.dones_of(current_user), msj: 'No tienes tareas terminadas!'  %>
		  </div>
		</div>
</div>