// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#link-new {

	background: #63605D;
	
	border: {
		radius: 50%;		
		color: #eeeeee;
	}
}